.tableRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0;
    padding-left: 0.6em;
}

.tableCell {
    padding: 4px;
    width: calc(25% - 8px);
    text-align: left;
}

.tableCell .label {
    font-size: 50%;
}

th, td {
    font-size: 80%;
}

/* reset */
button,
h3 {
    all: unset;
}

.AccordionChevron {
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionTrigger[data-state='open']>.AccordionChevron {
    transform: rotate(180deg);
}

.AccordionItem {
    border-radius: 8px;
}

.AccordionItem:nth-child(odd) {
    background: #1a1a1a;
}

@media (prefers-color-scheme: light) {
    .AccordionItem:nth-child(odd) {
        background: #f9f9f9;
    }
}