.tableRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0;
}

.tableCell {
    padding: 5px;
    width: calc(25% - 10px);
}

/* reset */
button,
h3 {
    all: unset;
}

.AccordionChevron {
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionTrigger[data-state='open']>.AccordionChevron {
    transform: rotate(180deg);
}